name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: fmt check
        run: cargo fmt --check
      - name: Build writer
        run: cargo build --verbose --features writer
      - name: Build reader
        run: cargo build --verbose --features reader                                                                                                              
      - name: Run writer tests                                                                                        
        run: cargo test --verbose --features writer                                                                   
      - name: Run reader tests                                                                                        
        run: cargo test --verbose --features reader
